
@font-face {
  font-family: 'LC Chalk';
  src: url('../fonts/lc-chalk.ttf');
}

@font-face {
  font-family: 'Myriad Pro BoldCond';
  src: url('../fonts/MYRIADPRO-BOLDCOND.OTF');
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url('../fonts/MYRIADPRO-BOLD.OTF');
}
