@import "vars";
@import "fonts";
@import "libs";

body {
	width: 100vw;
	min-height: 100vh;
	font-family: "Myriad Pro Regular", sans-serif;
	font-size: 14px;
	color: $body-color;
	background-image: url("../img/img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	line-height: 1.3;
}

a {
	text-decoration: none;
	font-family: inherit;
	color: $body-color;
}
a.btn {
	width: 114px;
	height: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(125,163,155);
	background: -webkit-gradient(linear, left top, right top, from(rgba(125,163,155,1)), to(rgba(153,193,185,1)));
	background: -o-linear-gradient(left, rgba(125,163,155,1) 0%, rgba(153,193,185,1) 100%);
	background: linear-gradient(90deg, rgba(125,163,155,1) 0%, rgba(153,193,185,1) 100%);
	border-radius: 10px;
	color: white;
	text-transform: lowercase;
	font-family: 'Segoe UI', sans-serif;
	font-size: 12px;
	padding-bottom: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	&:hover {
		background: #5f554e;
		background: -webkit-gradient(linear, left top, right top, from(#5f554e), to(#5f554e));
		background: -o-linear-gradient(left, #5f554e 0%, #5f554e 100%);
		background: linear-gradient(90deg, #5f554e 0%, #5f554e 100%);
	}
}

.icon-box  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	svg {
		width: 27px;
		height: 27px;
		fill: $acc-color2;
		stroke: $acc-color2;
		margin-right: 10px;
		-webkit-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		&:hover {
			fill: $color-hover;
			stroke: $color-hover;
		}
	}
}
.header {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url("../img/img/textura.png");
	.header__top {
		width: 100%;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.header__nav {
		margin-top: -11px;
		width: 100%;
		.logo {
			margin-top: -21px;
		}
	}
}
nav {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
	.nav {
		height: 80px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-top: 1px solid #5f554e;
		border-bottom: 1px solid #5f554e;
		li {
			height: 100%;
			width: auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			cursor: pointer;
			margin-right: 10%;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			&.active {
				a {
					color: $body-color;
				}
			}
			&:hover {
				a {
					color: $acc-color2;
				}
			}
			a {
				width: auto;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				padding-bottom: 10px;
				text-transform: uppercase;
				font-family: "Myriad Pro BoldCond", sans-serif;
				font-weight: bold;
				color: $acc-color;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
	}
}

.wrapper {
	width: 90%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1014px;
	margin: auto;
}
section {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: url("../img/img/textura.png");
}

.main-carousel {
	height: 400px;
	overflow: hidden;
	object-fit: cover;
	div img {
		min-height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.section__block {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.text-link {
		-ms-flex-item-align: end;
		align-self: flex-end;
		margin-right: 11px;
	}
}

.caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%;
	max-width: 330px;
	margin: 22px auto;
}
h2 {
	font-family: "Myriad Pro BoldCond", sans-serif;
	font-size: 18px;
	color: $acc-color;
	text-transform: uppercase;
}

.stock-box {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-template-rows: 110px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.stock-box__item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 110px;
		background-image: url("../img/img/doska.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		font-family: "LC Chalk", sans-serif;
		color: white;
		font-size: 24px;
		padding: 15px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
		line-height: 1.5;
	}
}
.post-box {
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	.post-box__item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: auto;
		border: 1px solid #bbb7b4;
		.post__cover {
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			height: 192px;
			border-bottom: 1px solid #bbb7b4;
			overflow: hidden;
			img {
				width: 100%;
				min-height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		.post__body {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 5px;
			.post__title {
				font-family: "Myriad Pro Bold", sans-serif;
				font-size: 14px;
				line-height: 1.5;
				color: #619189;
			}
			p {
				padding: 10px 0;
				margin-bottom: 10px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
			.post__date {
				color: #619189;
			}
		}
	}
}
.text-link {
	font-family: "Myriad Pro Regular", sans-serif;
	font-size: 18px;
	color: #619189;
	text-decoration: underline;
	margin: 22px 0;
}

footer {
	height: 62px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 18px;
	color: white;
	font-family: "Myriad Pro Regular", sans-serif;
	width: 100%;
}


@import "media"; // Always at the end
